.page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.cocktail-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 35%;
    border: 5px solid #ccc;
    border-radius: 20px;
    background-color: rgb(255, 255, 255, 0.5);
    box-shadow: 5px 5px 5px;
}

.image {
    height: 400px;
    width: 350px;
    border: 2px solid #ccc;
    border-radius: 20px;
    box-shadow: 5px 5px 5px;
}

.cocktail-ingredients {
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: rgb(255, 255, 255, 0.5);
    width: 348px;
    box-shadow: 5px 5px 5px;
}

.cocktail-ingredients > ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 5px;
}

.cocktail-ingredients > ul > li {
    display: flex;
    padding: 5px;
    justify-content: space-evenly;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cocktail-method {
    border: 2px solid #ccc;
    padding: 25px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255, 0.5);
    width: 75%;
    box-shadow: 5px 5px 5px;
}

div > button {
    width: 200px;
    height: 50px;
    background-color: rgb(142, 227, 245);
    border-radius: 7px;
    border-color: #ccc;
    box-shadow: 2px 2px 2px;
    font-family: Playfair Display SC;
}

.buttons {
    padding: 10px;
}

.cocktail-title {
    border: 2px solid #ccc;
    border-radius: 10px;
    padding-left: 135px;
    padding-right: 135px;
    background-color: rgb(255, 255, 255, 0.5);
    box-shadow: 5px 5px 5px;
}
